/**
 * Galmuri 도트 폰트 로컬 번들 (오프라인 대응).
 * 원본: https://github.com/quiple/galmuri (SIL Open Font License 1.1)
 * 앱에서 실제 쓰는 Galmuri11·Galmuri14 Regular 400만 포함.
 * url()은 이 CSS 파일 기준으로 해석되므로 같은 폴더의 woff2를 가리킨다.
 */
@font-face {
  font-family: Galmuri11;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Galmuri11 Regular"),
    url("./Galmuri11.woff2") format("woff2");
}
@font-face {
  font-family: Galmuri14;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Galmuri14 Regular"),
    url("./Galmuri14.woff2") format("woff2");
}
